<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/loginpage.css">
</head>
<body>
  <div class="Content">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <input type="text" class="input" name="username" placeholder="Username">
      <input type="password" class="input" name="password" placeholder="Password">
      {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
      <button type="submit" class="submitButton">Login</button>
    </form>
    <p class="account">Looking for a new account?<a href="signuppage.html"><span class="signin">Register</span></a></p>
  </div>
</body>
</html>
