<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <link rel="stylesheet" href="/static/signuppage.css">
</head>
<body>
  <div class="Content">
    <h1>Register</h1>
    <form action="/signup" method="POST">
      <input type="text" name="username" class="input" placeholder="Username">
      {% if warning_message %}
      <p style="color: red; font-weight: bolder;">{{ warning_message }}</p>
      {% endif %}
      <input type="password" name="password" class="input" placeholder="Password">
      <input type="password" name="confirm_password" class="input" placeholder="Confirm Password">
      {% if error_message %}
      <p style="color: red; font-weight: bolder;">{{ error_message }}</p>
      {% endif %}
      <button type="submit" class="submitButton">Register</button>
    </form>
    <p class="account">Already have an account?<a href="loginpage.html"><span class="signin">Sign in</span></a></p>
  </div>
</body>
</html>
